.addChatDialog{
    position: absolute;
    top: 50%;
    color: #fff;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 25px;
    border-radius: 10px;
    background: rgba(10, 37, 57, 0.61);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.2px);
    -webkit-backdrop-filter: blur(9.2px);
    border: 1px solid rgba(10, 37, 57, 0.3);
    box-shadow: 0px -2px 20px 6px rgba(166,146,146,0.79);
    -webkit-box-shadow: 0px -2px 20px 6px rgba(166,146,146,0.79);
    -moz-box-shadow: 0px -2px 20px 6px rgba(166,146,146,0.79);
}
.searchUserContainer{
    margin-top: 20px;
    display: flex;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}
.searchedusername{
    margin-bottom: 0;
    font-weight: 400;
    font-size: 20px;
    align-self: center;
}